body {
  padding-top: 100px;
  width: 100%;
  background-color: #060b12;
  background-image: url("assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  transition: all 100ms;
  padding: 10px;
}

.nav-link:hover {
  background-color: white;
}
.nav-link:active {
  opacity: 0.5;
}
.nav-link:active > svg {
  transform: scale(0.9, 0.9);
}
.nav-link:hover > svg {
  color: #1c2940;
}

.nav-link-active {
  background-color: white;
}

.nav-link-active svg.nav-icon {
  color: #1c2940;
}

svg.nav-icon {
  color: white;
  width: 22px;
  height: 22px;
  transition: all 100ms;
}

svg.header-icon {
  color: white;
  width: 20px;
  height: 20px;
}

svg.button-widget-icon {
  color: white;
  width: 40px;
  height: 40px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg.loader-icon {
  border-radius: 100%;
  color: white;
  width: 20px;
  height: 20px;
  animation: loading 1000ms infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

svg.loader-icon.medium {
  width: 30px;
  height: 30px;
}
svg.loader-icon.large {
  width: 40px;
  height: 40px;
}

svg.close-icon {
  width: 15px;
  height: 15px;
  opacity: 0.7;
  transition: all 200ms;
}
svg.close-icon:hover {
  opacity: 1;
}

svg.close-icon:active {
  transform: scale(0.9, 0.9);
}

.page {
  height: 100%;
}

.widget {
  background-color: #1c2940;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 20px;
  height: 150px;
  min-width: 150px;
}

.widget-button:active > .button-widget-icon {
  transform: scale(0.9, 0.9);
}
.widget-button:active {
  opacity: 0.6;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@keyframes modalAnimation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.modal-content {
  background: #1c2940;
  padding: 20px;
  border-radius: 8px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: modalAnimation 200ms;
}
